* {
	margin: 0;
}

header {
	width: 100%;
	height: 130px;
	border-bottom:1px solid #000000;
	display: flex;
	justify-content: space-between;
}

.menu {
	padding: 50px 50px 50px 1000px;
}

.menu-button {
	font-size: 24px;
	list-style-type: none;
	padding: 0 0 0 50px;
	float: left;
}

h1 {
	font-size: 48px;
}

footer {
	background-color: #D9B979;
	margin-top: 50px;
	display: flex;
}

.center {
	text-align: center;
}

.flex {
	display: flex;
}

.logo {
	width: 80px;
	height: 110px;
	padding: 10px 0 10px 135px;
}

.contacts {
	color: white;
	padding: 20px 0 20px 100px;
	font-size: 24px;
}

.adress {
	color: white;
	padding: 20px 0 20px 100px;
	font-size: 24px;
	margin-left: 900px;
}

.product {
	display: flex;
	margin: 151px 350px 211px 500px;
}

.grey {
	color: #5B5B5B;
}

.charact {
	font-size: 32px;
	list-style-type: none;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #A5A5A5;
	width: 560px;
}