* {
	margin: 0;
}

header {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #000000;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.right {
	float: right;
}

.flex {
	display: flex;
}

.head-logo {
	width: 80px;
	height: 110px;
	margin: 10px 0 0 135px;
}

.head-menu {
	margin: 50px 50px 0 0;
}

.head-menu-text {
	margin: 0 0 0 30px;
	font-size: 24px;
	color: #000000;
}

.head-menu-text:hover {
	color: #797979;
}

h1 {
	font-size: 48px;
}

footer {
	background-color: #D9B979;
	width: 100%;
	height: 105px;
	margin: 50px 0 0 0;
}

.foot-contact {
	font-size: 24px;
	color: #ffffff;
	padding: 22px 0 0 50px;
	float: left;
}

.foot-adress {
	font-size: 24px;
	color: #ffffff;
	float: right;
	padding: 22px 50px 0 0;
}

.center {
	text-align: center;
}

.product {
	display: flex;
	margin: 151px auto 210px auto;
	height: 350px;
	width: 950px;
}

.grey {
	color: #5B5B5B;
}

.charact {
	font-size: 32px;
	list-style-type: none;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #A5A5A5;
	width: 560px;
}